/* tags */
html {
    background-color: darkslategrey
}
body {
    margin-top: 0;
    margin-bottom: .5em;
}
a {
    display: block;
    font-size: 75%;
    color: black;
}

/* ids */
#header, #footer {
    width: 100%;
    min-width: 55em;
    display: inline-block;
    background-color: darkgray;
    box-shadow: inset 0 0 1em black, .5em .5em 1em black;
}
#addresses {
    width: 100%;
    min-width: 55.5em;
    display: inline-block;
    text-align: center;
    margin: .5em 0;
}
#values {
    margin: 1em;
    text-align: center;
}
#nodata {
    list-style: none;
}
#footerData {
    text-align: center;
    margin: .75em;
}

/* classes */
.header {
    margin-bottom: .5em;
    display: block;
    font-size: 120%;
    font-weight: 700;
    text-align: center;
}
.subHeader {
    display: block;
}

.valueSection {
    display: inline-block;
    margin: 0 1em;
    border: .28em double black;
}
.valueData {
    float: left;
    width: 9em;
    font-size: 120%;
    margin-top: 1em;
}
.valueDataList {
    text-align: left;
}
.valueChart {
    height: 8em;
    float: left;
    padding-left: 1em;
    min-width: 25em;
}

.addressSection {
    color: rgb(201, 201, 201);
    float: left; 
    min-width: 20em;
    font-size: 130%;
    margin: .25em;
    border: .28em double black;
    box-shadow: .5em .5em 1em black;
}
.addressData {
    padding: 1em;
    box-shadow: inset 0 0 10em darkslategray;
}
.addressDataList {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin-bottom: 0;
}
.addressChart {
    height: 10em;
    margin-left: .018em;
}

.footer {
    display: inline-block;
    font-size: 120%;
    font-weight: 700;
    margin: .25em 1em;
}


/* wallets */
.Michael {
    background-color: rgb(30, 101, 255);
}
.Kevin {
    background-color: firebrick;
}
.Josh {
    background-color: green;
}