/* tags */
html {
    background-color: darkslategrey
}
a {
    display: block;
    font-size: 75%;
    color: black;
    text-align: center;
}

/* ids */
#addresses {
    width: 100%;
    min-width: 55em;
}
#values {
    margin-bottom: 0.5em;
    float: left;
    width: 100%;
    min-width: 55em;
    background-color: lightgrey;
    box-shadow: .5em .5em 1em #000000;
}
#updateTime {
    float: right;
    padding-right: 2em;
}
#nodata {
    text-align: center;
    list-style: none;
}

/* classes */
.header {
    margin-bottom: .5em;
    display: block;
    text-align: center;
    font-size: 120%;
    font-weight: 700;
}
.subHeader {
    display: block;
    text-align: center;
}

.valueSection {
    float: left;
    margin: 0.2em;
}
.valueData {
    float: left;
    width: 9em;
    font-size: 120%;
}
/* .valueDataList {
    
} */
.valueChart {
    height: 10em;
    float: left;
    padding-left: 2em;
    min-width: 25em;
}

.addressSection {
    color: rgb(201, 201, 201);
    float: left; 
    min-width: 20em;
    min-height: 38em;
    font-size: 130%;
    margin: 0.2em;
}
.addressData {
    margin-bottom: .5em;
    padding: 1.2em;
    box-shadow: inset 0 0 10em darkslategray, .5em .5em 1em #000000;
}
.addressDataList {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    padding-left: 0;
    margin-bottom: 0;
}
.addressChart {
    width: 100%;
    min-height: 13em;
    box-shadow: .5em .5em 1em #000000;
}


/* wallets */
.Michael {
    background-color: rgb(30, 101, 255);
}
.Kevin {
    background-color: firebrick;
}
.Josh {
    background-color: green;
}